h1 Home
.row
  .col-lg-3.col-md-2.col-xs-1
  .col-lg-6.col-md-8.col-xs-10
    form.form-signin(name='todoForm', novalidate)
      .form-group(ng-class="{ 'has-error' : signinForm.email.$invalid }")
        label Email
        input.form-control(type='email', name='email', ng-model='user.email')
        p.help-block(ng-show='signinForm.email.$invalid') Enter a valid email.
      .form-group(ng-class="{ 'has-error' : signinForm.password.$invalid }")
        label Password
        input.form-control(type='password', name='password', ng-model='user.password', ng-minlength='3')
        p.help-block(ng-show='signinForm.password.$error.minlength') Min password length is 8 characters.
      button.btn.btn-lg.btn-primary.btn-block(ng-disabled='!user.email || !user.password', type='button', ng-click='SignIn($event)') Sign In
      .form-group
      a.btn.btn-lg.btn-facebook.btn-block(ng-click='fblogin()')
        i.fa.fa-facebook &nbsp; Sign in with Facebook 
      .form-group
      a.btn.btn-lg.btn-twitter.btn-block(ng-click='twilogin()')
        i.fa.fa-twitter &nbsp; Sign in with Twitter 
      .form-group
      a.btn.btn-lg.btn-google-plus.btn-block(ng-click='goologin()')
        i.fa.fa-google-plus &nbsp; Sign in with Google
      .form-group
        label Not a member?
          a(href='#/register')  Sign Up 
  .col-lg-3.col-md-2.col-xs-1  
  
